<br>
<br>

<div class="card1">
    <div class="card text-black bg-light mb-3" style="max-width: 90rem;">
        <div class="card-header">HELPLINE</div>
        <div class="card-body">
        <p class="card-text">Hello! Welcome to our website<br>
        If you need any assistance, please contact us through one of the following methods:<br>
        Email: support@buninijeany.com<br>
        Phone: +603-1234-5678 (Monday to Friday, 9am to 5pm)</p>
        </div>
    </div>
</div>

<div class="card1">
    <div class="card text-white bg-dark mb-3" style="max-width: 90rem;">
        <div class="card-header">ABOUT THIS WEBSITE</div>
        <div class="card-body">
        <p class="card-text">This website provides another option to find videos on YouTube more easily.<br> 
        You can discover and watch videos from various categories and topics. Whether you are <br> 
        looking for entertainment, education, inspiration or information, this website is for you.<br>
        You can browse videos by genre or keyword.</p>
        </div>
    </div>
</div>

<div class="card2">
    <div class="card-columns d-flex justify-content-center">
        <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
            <div class="card-header">YouTube</div>
            <div class="card-body">
            <p class="card-text-YouTube2">YouTube is an American online video sharing and social media platform owned by Google. Accessible worldwide, it was launched on February 14, 2005, by Steve Chen, Chad Hurley, and Jawed Karim, three former employees of PayPal.</p>
        </div>
    </div> 
     
<div class="card3">
    <div class="card text-white bg-primary mb-3">
        <div class="card-header">YouTube</div>
        <div class="card-body">
        <p class="card-text-YouTube2">Parent organization: Google<br>
        Founders: Jawed Karim, Chad Hurley, Steve Chen<br>
        Founded: February 14, 2005, San Mateo, California, United States<br>
        Revenue: 7.952 billion USD (Q3 2023)<br>
        Headquarters: San Bruno, California, United States</p>
        </div>
    </div>
    </div>
</div>
</div>
