h1 {
  text-align: center;
  font-family: "Georgia", Times, serif;
  font-style: italic;
  font-weight: bold;
}

h4 {
  text-align: center;
}

.logo{
  width: 300px;
  align-items: center;
}

.searchbox{
    display: inline-block;
    justify-content: center;
}

.searchbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.searchbox input[type="text"] {
  width: 60%;
  padding: 15px;
  border: 2px solid hsl(212, 36%, 46%);
  font-size: 18px;
  border-radius: 40px;
}

