<!doctype html>
<br>
<header>
  <br>
  <h1>WELCOME TO BuniniJeany HOME PAGE</h1>
  <h4>‧⋆ ✧˚₊‧⋆. ✧˚₊‧⋆‧₊˚ ✧ ‿︵‿୨୧‿︵‿ ✧ ₊˚ ‧⋆ ✧˚₊‧⋆. ✧˚₊‧⋆‧</h4>
  <br>
  <h3> BuniniJeany is a mix of 'Newjeans' girl kpop group, and their keychain merchandise is called 'Bunini'. 
    It is a collaboration with Line Friend Collection Store.</h3>
    <br>
</header>

<nav>
  <div class="container">
    <br>
    <h2>Discover NewJeans Videos</h2>
    <br>
    <div class="row video-list">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let video of randomVideos">
        <div class="card h-100">
          <img class="card-img-top" [src]="video.snippet.thumbnails.medium.url" alt="Thumbnail">
          <div class="card-body">
            <h5 class="card-title text-black">{{ video.snippet.title }}</h5>
            <p class="card-text" text-black>{{ video.snippet.description }}</p>
            <small class="text-muted">Channel: {{ video.snippet.channelTitle }}</small>
            <div>
            <div class="btn-group">
              <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="btn btn-sm btn-outline-black" >Watch</a>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>